/* header stylings, for all pages*/

.header-container {
    width: 100%;
    height: 15vh;
    background-color: var(--color-accent-one);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;

    position: sticky;
    top: 0;

}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--gap-size-small);
}

.header-title {
    grid-column: 1 / 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'PlayfairDisplay-Bold';
    letter-spacing: -2px;
    font-size: var(--font-size-large);
    color: var(--color-main);
    background: none;

    border: none;
}

.header-nav {
    grid-column: 10 / 13;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
}

.header-nav button {
    background: none;
}

.icon-search-container img {
    width: 30%;
    height: 30%;
    visibility: hidden;
}

.icon-account-container img {
    width: 30%;
    height: 30%;
}

.icon-login-logout-container img {
    width: 30%;
    height: 30%;
}

.icon-search-container,
.icon-account-container,
.icon-login-logout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* log in / log out icons  */

.button-log_in {
    display: block;
}

.button-log_out {
    display: none;
}

/* search bar section in front page */

.section-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: var(--gap-size-small);
    
    width: 100%;
    height: 85vh;
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url(../assets/images/books-backgorund.jpg)
    ;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: var(--font-size-large);
    color: var(--color-main);
    font-family: 'PlayfairDisplay-Bold';
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-size-small);

    padding-bottom: 30px;
}

.search-bar-container input {
    width: 369px;
    height: 32px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-accent-two);
}

.search-bar-container button {
    width: 58px;
    height: 58px;
    background-color: var(--color-accent-two);

    border-radius: 100px;
}

.search-button-container img {
    width: 35px;
    height: 35px;
    background-color: none;
}


/* SEARCH RESULTS - PRODUCTS CONTAINER */

.search-products-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--color-accent-one);
}

.section-products-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-filter-container {
    width: 100vw;
    height: 15vh;

    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background-color: var(--color-accent-one);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.render-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap-size-small);
    padding: var(--gap-size-medium);
}

.products-book-item {
    width: 100%;
    height: 100%;
    background-color: var(--color-accent-two);

    grid-column: 1fr;
    grid-row: 1fr;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-cover {
    width: 180px;
    height: 275px;
    background-color: aliceblue;
}

.book-cover img {
    object-fit: fill;
}